body
{
	background-image: url("https://i.gifer.com/TIeO.gif");
    background-size:cover ;
	background-position: center;
	margin-top: 100px;
}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
P {
	font-family: bold;
	font-size: 20px;
	color: rgb(75, 37, 6);
  }
  button {
	  background-color: black;
	  color: white;
  }